<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.disebud.week3apiapp">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Week3ApiApp">
        <activity android:name=".detail.DetailDaerahCoronaActivity"></activity>
        <activity android:name=".home.HomeDataCorona" />
        <activity android:name=".home.HomeDaerah" />
        <activity android:name=".home.HomeMuseum" />
        <activity android:name=".detail.DetailMuseumActivity" />
        <activity android:name=".home.HomeNews" />
        <activity
            android:name=".SplashScreenAcitivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".detail.DetailNewsActivity"
            android:label="@string/title_activity_detail_wisata"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar" />
        <activity android:name=".MainActivity" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>